
nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 10px;
}
.search-container {
    display: flex;
    margin-bottom: 0px;
    width: 50%;
    
}

#search-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

#search-btn {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #45a049;
}

.sort-filter-container {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dropdown-btn:hover {
    background-color: #f9f9f9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a, .dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover, .dropdown-content label:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.report-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    transition: transform 0.3s ease;
}

.report-card:hover {
    transform: translateY(-5px);
}

.report-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.report-card p {
    color: #666;
    margin-bottom: 5px;
}

.view-report {
    
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    
}

.view-report:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .report-card {
        width: calc(50% - 20px);
    }
    .sort-filter-container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .report-card {
        width: 100%;
    }
}